.todo-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100px;
}

.todo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
