.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.app-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  padding: 15px;

  width: 50vw;
  height: 75vh;

  border: solid 1px black;
}
